<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</Blockquote></title>
  </head>
  <body>
    <nav>
      <div class="site-title">
        <a href="/">Yo Yo Blog</a>
        <p>YO YO SITE - Muther Fucker</p>
      </div>
      <ul>
        <li><a href="/">Blog</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
      </ul>
    </nav>

    <div class="about content">
      <h2>About</h2>
      <p>
        This is a simple blog site built with Node.js, Express, and EJS. It
        allows users to create, read, update, and delete blog posts. The site is
        designed to be a learning project for those new to web development.
      </p>
    </div>
  </body>
</html>
