<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create a New Blog</title>
  </head>
  <body>
    <nav>
      <div class="site-title">
        <a href="/">Yo Yo Blog</a>
        <p>YO YO SITE - Muther Fucker</p>
      </div>
      <ul>
        <li><a href="/">Blog</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
      </ul>
    </nav>

    <div class="create content">
      <h2>Create a New Blog</h2>
      <form>
        <label for="title">Title:</label><br />
        <input type="text" id="title" name="title" /><br />
        <label for="snippet">Snippet:</label><br />
        <input type="text" id="snippet" name="snippet" /><br />
        <label for="body">Body:</label><br />
        <textarea id="body" name="body"></textarea><br />
        <button>Create Blog</button>
      </form>
    </div>
  </body>
</html>
